.ratingContainer {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}

.ratingContainer:hover {
  cursor: pointer;
}

.ratingContainer > span {
  margin-right: 8px;
}

.star {
  font-size: 25px;
}
